---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import CometBackground from "../components/CometBackground.astro";
---

<Layout>
  <CometBackground />
  <div class="relative z-10">
    <Navbar />
    <main>
      <About />
      <WorkExperience />
      <Skills />
      <Contact />
    </main>
  </div>
</Layout>
